.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: rgb(9, 200, 247);
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: -38px -6px, -14px 6px, 14px -6px;
    }

    33% {
        box-shadow: -38px 6px, -14px -6px, 14px 6px;
    }

    66% {
        box-shadow: -38px -6px, -14px 6px, 14px -6px;
    }

    100% {
        box-shadow: -38px 6px, -14px -6px, 14px 6px;
    }
}

.loaders {
    width: 100%;
    height: 8px;
    display: inline-block;
    background-color: rgb(9, 200, 247);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
    font-size: 30px;
    background-size: 1em 1em;
    box-sizing: border-box;
    animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
    0% {
        background-position: 1em 0;
    }

    100% {
        background-position: 0 0;
    }
}